<my-component>
    <p>{ props.message }</p>

    <riot-particles id="tsparticles" className="demo-particles" style="position: fixed; inset: 0; z-index: -1;" options='{particlesConfig}' particlesInit='{particlesInit}'
                    particlesLoaded='{particlesLoaded}'/>

    <script>
        import RiotParticles from "@tsparticles/riot";
        import { loadFull } from "tsparticles";
        import { basic } from "tsparticles-demo-configs";

        export default {
            components: {
                RiotParticles
            },
            particlesConfig: basic,
            particlesInit: async (main) => {
                await loadFull(main);
            },
            particlesLoaded: (container) => console.log(container)
        }
    </script>
</my-component>
